<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li class="active">Posts</li>
</ol>

<div class="posts">
  <% @posts.each do |post| %>
    
    <div class="col-2">
      <div class="">
        <h2 class=""><%= post.title %></h2>
        <p><%= post.content %></p>
        <p class="">Escrito por <a href="#"><%= post.user.email %></a>, em <%= post.created_at %>.</p>
      </div>
    </div>
    <hr/>
  <% end %>
</div>


<%= link_to 'Adicionar Post', new_post_path, :class => "btn btn-default" %>
